.footer-section{
  position: relative;
  background-color: #333533;
  color: white;
}

.footer-container{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  text-align: left;
  padding: 0px 10%;
}

.footer-title{
  font-weight: 700;
  margin: 30px 0px 50px 0px;
}

.footer-title span{
  color: #fcb924;
}

.footer-content{
  font-size: 16px;
  font-weight: 300;
  width: 260px;
  line-height: 30px;
}

@media(max-width: 1000px){
  .footer-content{
    font-size: 14px;
    width: 150px;
  }
}

.copyright{
  text-align: center;
  padding: 50px 0px;
}